@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: .03em;
}

footer {
    margin-top: auto;
    margin-bottom: 1rem;
}

a:hover {
    text-decoration: none;
    color: #3c3c3c;
}

/* colors for brand */
nav .brand-logo .blue-letter
{
    color: #1252ad;
}
nav .brand-logo .red-letter
{
    color: #b10700;
}
nav .brand-logo .yellow-letter
{
    color: #f5b82e;
}
nav .brand-logo .green-letter
{
    color: whitesmoke;
}

table th, table td {
    padding: .5em;
}

.search-form {
    width: 30%;
    display: inline-block;
}

nav .input-field label {
    top: -.6rem;
    left: .6rem;
}

#search {
    position: relative;
}

#search:focus ~ .label-icon.active > i {
    color: #444;
}

.search__results {
    width: 100%;
    z-index: 99;
    background-color: white;
    position: absolute;
    top: 64px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.search__results span {
    font-weight: 800;
}

.search__results a {
    color: #3c3c3c;
}

.search__results li {
    width: 100%;
}

.search__results li:hover {
    background-color: rgba(0,0,0,0.1)
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.alert {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-color: rgb(158, 158, 158);
    padding: 1.2rem;
    border-radius: .2rem;
    transition: all .3s ease-in-out;
    animation: fade_out 3s forwards;
}

.btn-small {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0 .6rem;
    border: 1px solid #009688;
    border-radius: 2px;
    background-color: white;
    color: #009688;
    box-shadow: none;
}

.btn-small:hover {
    color: white;
    box-shadow: none;
}

.btn-small:active, .btn-small:focus, .btn-chart--active  {
    color: white;
    background-color: #009688;
}

.chart__no-values {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.t-bar::before {
    content: '';
    display: block;
    background-color: #009688;
    height: 1px;
    width: 10%;
    margin-bottom: 1rem;
}

.dividend-title {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

@keyframes fade_out {
    90% {opacity: 1; display: block; visibility: visible;}
    100% {opacity: 0; display: none; visibility: hidden;}
}

.text-xs {font-size: smaller}

.text-green {color: green;}
.text-red {color: red;}

.m-1 {margin: 1rem}
.m-4 {margin: 4rem}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.ml-3 {margin-left: 3rem;}
.mt-4 {margin-top: 4rem;}

.symbol-page-header__title {
    font-weight: 300;
    margin: 0;
    line-height: 100%;
}
.symbol-page-header__symbol {
    font-size: 4rem;
    margin-right: -.5rem;
}
.symbol-page-header__name {
    font-size: 1.8rem;
}

.news {
    background: #3c3c3c;
    color: whitesmoke;
    padding: 1.2rem;
    border-radius: 2px;
    margin-left: 10%;
}

.news h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.news__element a {
    color: whitesmoke;
    font-size: .9rem;
}

.news__element {
    margin-bottom: 1rem;
}

.news__element p {
    font-size: .9rem;
    color: #999;
}

.dividend-history__table-heading, .dividend-history__cell {
    font-size: 0.8rem;
    padding: 1rem 1.875rem 1.125rem 0;
    font-weight: 300;
}

.dividend-history__cell--amount {
    font-weight: 500;
}

.symbol-page-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0 .75rem;
}

.symbol-page-header__price {
    display: flex;
    font-size: 2rem;
    align-items: baseline;
}
.symbol-page-header__icon-down {
    transform: rotate(90deg);
    fill: red;
}
.symbol-page-header__icon-up {
    transform: rotate(-90deg);
    fill: green;
}
.symbol-page-header__price > span {
    margin-right: 1rem;
}

.symbol-page-header__variations {
    color: red;
}
.symbol-page-header__variations-positive {
    color: green;
}

.symbol-page-header__variations > span:first-of-type {
    margin-right: 1rem;
}

/* CHART */
.chart-container {
    box-shadow: 0 0 0.625rem 0 rgba(0,0,0,0.1);
    padding: 1rem;
}

#chart {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.chart-controls h3 {
    font-size: 1.5rem;
}

.chart__periods {
    list-style: none;
    text-align: right;
}

.chart__periods li {
    display: inline;
}

.chart__periods li:not(:last-of-type) {
    margin-right: .2rem;
}

.symbol-page-header__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66.6666666667%;
    padding-right: .75rem;
}

.form-button {
    border: none;
    color: #3c3c3c;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.form-button:hover {
    color: #656565;
}
.form-button:focus, .buy-button:focus {
    background-color: transparent;
}

.symbol-page-header__company {
    display: flex;
    align-items: baseline;
}
.symbol-page-header__logo {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1.5rem;
}
.symbol-page-header__logo img {
    width: 100%;
}

.dropdown-content {
    overflow-y: hidden;
}

.buy-button {
    display: block;
    border: none;
    color: #009688;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem;
    margin-left: auto;
    text-transform: uppercase;
}

.buy-button:hover {
    color: #007165;
}
.sell-button {
    display: block;
    border: none;
    color: #D32F2F;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem;
    margin-left: auto;
    text-transform: uppercase;
}

.sell-button:hover {
    color: #981b1b;
}

.dropdown-content select {
    display: block;
}