{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="row">
        <form action="/sell" method="post" class="col s4 offset-s4 center-align">
            <div class="input-field mb-4">
                <select name="symbol">
                    <option disabled selected>Select your symbol</option>
                    {% for symbol in symbols %}
                        {% if symbol['sum'] > 0 %}
                            <option value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }} ({{ symbol['sum'] }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="symbol">Sell stock</label>
            </div>
            <div class="input-field mt-2">
                <input autocomplete="off" autofocus name="shares" type="number">
                <label for="shares">Shares</label>
            </div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
{% endblock %}
