{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block scripts %}
<script src="/static/validation.js" defer></script>
{% endblock %}

{% block main %}
<div class="row">
    <form action="" method="post" name="registration" class="col s4 offset-s4 center-align">
        <div class="input-field">
            <input autocomplete="off" autofocus name="username" type="text">
            <label for="username">Username</label>
            <span class="helper-text" id="helper-username" data-success="This username is available"></span>
        </div>
        <div class="input-field">
            <input name="password" type="password">
            <label for="password">Password</label>
            <span class="helper-text" data-error="Password must be at least 6 characters long"></span>
        </div>
        <div class="input-field">
            <input name="password_confirmation" type="password">
            <label for="password_confirmation">Confirm password</label>
            <span class="helper-text" data-error="You must enter the same password"></span>
        </div>
        <button class="waves-effect waves-light btn" disabled type="submit">Register</button>
    </form>
</div>
{% endblock %}